.h{
        height: 100%;
}
h3{
        text-align: center;
}
.disabled{
 color:#9e9e9e ;
}
label{
        color:#9e9e9e !important;
}
ul.collapsible{
background-color: rgb(107, 107, 107) !important;
}
ul.collapsible div.collapsible-header{
        background-color: grey !important;
        box-shadow: grey 2px 1px;
        }

        ul.collapsible li{
                background-color:grey !important;
                font-size: 20px;
                }

                th,tr,td{
                        text-align: center;
                }
                table Input{
                        text-align: center
                }